body {
    background-color: #f5f5dc;
    font-family: verdana, arial, sans-serif;
    color: #222;
}

#header {
    font-family: helvetica, verdana, sans-serif;
    color: white;
    background-color: #3f9c87;
    padding: 5px 5px 5px 20px;
}

#header span {
    color: lightcyan;
}

#header span.parenthetic {
    /* http://www.google.com/fonts/specimen/Pacifico */
    font: 100 25px/1.5 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

#header span.livebar {
    color: #f0e68c;
    font-size: 15px;
}


#nav {
    border: 1px dotted red;
    text-align: center;
    background-color: white;
    font-style: italic;
    font-size: 12pt;
}

#summary {
    border: 1px dotted red;
    text-align: left;
    background-color: white;
    font-style: normal;
    font-size: 10pt;
    padding: 10px 5px 5px 20px;
}


.column-content {
    border: 2px solid #cdc2e1;
    background-color: #f5f5f5;
}

#monis, #monislong, #graphs, #recent20run {
    text-align: center;
    font-style: italic;
    font-size: 10pt;
}

#nav {
    height: 30px;
    line-height: 20px;
    margin-top: 8px;
}

#summary {
    height: 150px;
    line-height: 15px;
    margin-top: 9px;
}

#container {
    margin-top: 8px;
    display: table;
    table-layout: auto;
    width: 100%;
}

#sysgrid, #monis, #monislong, #graphs {
    display: table-cell;
    height: 100px;
}

.spacer {
    width: 4px;
}

#sysgrid {
    padding: 1em;
    width: 140px;
}

strong {
    color: #666;
    font-weight: bold;
    font-style: normal;
    font-size: 12pt;
}

.singlecomp {
    padding-top: 10px;
}

.commentary {
   padding: 2em;
   font-weight: italic;
   color: grey;
}

.state_running {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#b6cca3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	padding:5px 28px;
	text-decoration:none;
}.state_running:hover {
	background-color:#a6c290;
}.state_running:active {
	position:relative;
	top:1px;
}

.state_error {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background-color:#fc8d83;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #d83526;
	display:inline-block;
	color:#53733b;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	padding:5px 28px;
	text-decoration:none;
}.state_error:hover {
	background-color:#e4685d;
}.state_error:active {
	position:relative;
	top:1px;
}

.state_stopped {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	padding:5px 28px;
	text-decoration:none;
}.state_stopped:hover {
	background-color:#dfdfdf;
}.state_stopped:active {
	position:relative;
	top:1px;
}

.statebutton {
  min-width: 130px;
}

#messages_table {
  padding-top: 2em;
  padding-left: 5em;
}


#moni-values table tr td,
#moni-values table tr th {
    font-size: 10px;
}

#moni-values-long table tr td,
#moni-values-long table tr th {
    font-size: 12px;
}

#recent20run table tr td,
#recent20run table tr th {
    font-size: 9px;
    border: 1px solid black;
    border-collapse: collapse;
}

#recent100run table tr td,
#recent100run table tr th {
    font-size: 9px;
    border: 1px solid black;
    border-collapse: collapse;
}

/* i3d3 styles -- FIXME put in separate file */
.axis path, .axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: black;
}
.axis text, .label, .note {
    font-family: sans-serif;
    fill: grey;
}
.axis text {
    font-size: 11px;
}
.label {
    font-size: 12px;
    fill: #333;
}
.note {
    font-size: 12px;
}
.plot {
    float: left;
}

div.tooltip {  // Adapted from http://bl.ocks.org/mbostock/1087001
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 5px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 3px;
  pointer-events: none;
}

.title {
  text-anchor: middle;
  font-family: sans-serif;
  fill: grey;
}
